<%= form_with(model: @activity, local: true) do |f| %>

  <%= f.hidden_field :trip_id, value: @trip.id %>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <%= f.submit "Create activity", class: "btn btn-block btn-outline-secondary" %>
<% end %>
