<!-- Form itinerary start -->
<%= form_with(model: @itinerary, local: true) do |f| %>
<!-- Form itinerary end -->

  <!-- Label and input for country_id start -->
  <div class="form-group">
    <%= f.label :country_id %>

    <!-- Input for country_id start -->
    <%= f.text_field :country_id, class: "form-control" %>
    <!-- Input for country_id end -->
  </div>
  <!-- Label and input for country_id end -->

  <!-- Label and input for trip_id start -->
  <!-- Input for trip_id start -->
  <%= f.hidden_field :trip_id, value: @trip.id %>
  <!-- Input for trip_id end -->
  <!-- Label and input for trip_id end -->

  <%= f.submit "Create itinerary", class: "btn btn-block btn-outline-secondary" %>
<% end %>
