<%= form_with(model: @eating_list, local: true) do |f| %>

  <%= f.hidden_field :trip_id, value: @trip.id %>

  <div class="form-group">
    <%= f.label :restaurant_id %>

    <%= f.collection_select :restaurant_id, Restaurant.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create eating list", class: "btn btn-block btn-outline-secondary" %>
<% end %>
