<div class="card mb-3">
  <h2 class="card-header h4">
    Eating List #<%= eating_list.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Trip</dt>
      <dd>
        <% if @eating_list.trip.present? %>
          <%= link_to eating_list.trip, eating_list.trip %>
        <% end %>
      </dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @eating_list.restaurant.present? %>
          <%= link_to eating_list.restaurant, eating_list.restaurant %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back eating_list, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_eating_list_url(eating_list), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to eating_list, method: :delete, data: { confirm: "Do you really want to delete this eating_list?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(eating_list.updated_at) %> ago
  </div>
</div>
