<% was_validated = eating_list.errors.any? %>

<%= form_with(model: eating_list, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for trip_id start -->
  <div class="form-group">
    <% trip_class = "form-control" %>
    <% trip_was_invalid = eating_list.errors.include?(:trip) %>

    <% if was_validated %>
      <% if trip_was_invalid %>
        <% trip_class << " is-invalid" %>
      <% else %>
        <% trip_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :trip_id %>
    <!-- Input for trip_id start -->
    <%= f.collection_select :trip_id, Trip.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for trip_id end -->
    <% if trip_was_invalid %>
      <% eating_list.errors.full_messages_for(:trip).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for trip_id end -->
  <!-- Label and input for restaurant_id start -->
  <div class="form-group">
    <% restaurant_class = "form-control" %>
    <% restaurant_was_invalid = eating_list.errors.include?(:restaurant) %>

    <% if was_validated %>
      <% if restaurant_was_invalid %>
        <% restaurant_class << " is-invalid" %>
      <% else %>
        <% restaurant_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :restaurant_id %>
    <!-- Input for restaurant_id start -->
    <%= f.number_field :restaurant_id, class: restaurant_class, placeholder: "Enter restaurant" %>
    <!-- Input for restaurant_id end -->
    <% if restaurant_was_invalid %>
      <% eating_list.errors.full_messages_for(:restaurant).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for restaurant_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
