<%= form_with(model: @eating_list, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :trip_id %>

    <%= f.collection_select :trip_id, Trip.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :restaurant_id, value: @restaurant.id %>

  <%= f.submit "Create eating list", class: "btn btn-block btn-outline-secondary" %>
<% end %>
