<%= form_with(model: @city, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.hidden_field :country_id, value: @country.id %>

  <%= f.submit "Create city", class: "btn btn-block btn-outline-secondary" %>
<% end %>
