<%= form_with(model: @itinerary, local: true) do |f| %>

  <%= f.hidden_field :country_id, value: @country.id %>

  <div class="form-group">
    <%= f.label :trip_id %>

    <%= f.collection_select :trip_id, Trip.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create itinerary", class: "btn btn-block btn-outline-secondary" %>
<% end %>
